

.edit-profile-body {

	background-color: #77ACF1;
	margin-top: 120px;
	margin-left: 25%;
	margin-right: 25%;
	border-color: #e0f2ff;
	border-width: 5px;
	border-radius: 8px;
	border-style: solid;
	padding: 25px;
	box-shadow: 0 8px 10px grey;
}

.edit-profile-body .user-icon {

	font-size: 32px;
	color: #e0f2ff;
	margin-left: 43%;
}

.edit-profile-body h1 {

	color: white;
	font-weight: bold;
	margin-left: 32%;

}

.edit-profile-body .form-group label {

	font-size: 22px;
	color: white;
	width: 100%;
}

.submit .btn {

	width: 100%;
	margin-top: 20px;
	font-size: 16px;
}

@media only screen and (max-width: 1200px) {


	.edit-profile-body h1 {
		margin-left: 29%;
	}

	.edit-profile-body .user-icon {

		margin-left: 42%;
	}
}

@media only screen and (max-width: 550px) {

	.edit-profile-body {
		widht: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 180px;
	}

	.edit-profile-body h1 {
		margin-left: 30%;
		font-size: 28px;
	}

	.edit-profile-body .user-icon {

		margin-left: 42%;
	}
}
