
{% extends 'base.html' %}
{% load static %}

{% block title %}Add task{% endblock %}
{% block ccss %}<link rel="stylesheet" href="{% static 'todo/add_task.css' %}"/>{% endblock %}

{% block content %}
	<div class="container">
		<div class="add-task-body col-lg-6">

			<form method="post">
				<span class="fa-stack fa-lg user-icon-2x add-icon">
				<i class="fa fa-check-square-o"></i>
				</span>
				<h1>Add Task</h1>
				{% csrf_token %}

				<div class="form-group">
					<label>Task name:
					{{ form.name }}
					</label>
				</div>
				<div class="form-group">
					<label>Task description:
					{{ form.description }}
					</label>
				</div>
				<div class="form-group">
					<label>Task doer:
					{{ form.doer }}
					</label>
				</div>
				<div class="form-group">
					<label>Project:
					{{ form.project }}
					</label>
				</div>
				<input class="btn btn-primary" type="submit" value="Add task"/>
			</form>
		</div>
	</div>
{% endblock %}
{% block script %}
<script>
	$("#select_project").ready(function () {

		var url = "{% url 'todo:get_projects' %}";
		var categoryId = $(this).val();

		$.ajax({
			url: url,
			data: {
				'username': '{{ request.user.username }}'
			},
			success: function (data) {
				$("#select_project").html(data);
			}
		});
	});
</script>
{% endblock %}
