
{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block ccss %}<link rel="stylesheet" href="{% static 'account/dashboard.css' %}" />{% endblock %}

{% block content %}
	<div class="container">
		<div class="dashboard-body">
			<table class="table">
				<tr>
					<td class="table-text">First name</td>
					<td class="table-text">{{ user.first_name }}</td>
				</tr>
				<tr>
					<td class="table-text">Last name</td>
					<td class="table-text">{{ user.last_name }}</td>
				</tr>
				<tr>
					<td class="table-text">Username</td>
					<td class="table-text">{{ user.username }}</td>
				</tr>
				<tr>
					<td class="table-text">Email</td>
					<td class="table-text">{{ user.email }}</td>
				</tr>
				<tr>
					<td class="table-text">Status</td>
					{% if user.is_active %}
					<td class="table-text">Active</td>
					{% else %}
					<td class="table-text">Inactive</td>
					{% endif %}
				</tr>
				<tr>
					<td class="table-text">Tasks created</td>
					<td class="table-text">{{ tasks }}</td>
				</tr>
				<tr>
					<td class="table-text">Tasks done</td>
					<td class="table-text">{{ tasks_done }}</td>
				</tr>
				<tr>
					<td class="table-text">Projects created</td>
					<td class="table-text">{{ projects }}</td>
				</tr>
				<tr>
					<td class="table-text">Projects done</td>
					<td class="table-text">{{ projects_done }}</td>
				</tr>
			</table>
			<a href="{% url 'todo:add_task' %}"><input class="btn btn-primary" type="submit" value="Start a task"/></a>
			<a href="{% url 'todo:add_project' %}"><input class="btn btn-primary" type="submit" value="Start a projects" /></a>
			<a href="{% url 'todo:task_list' %}"><input class="btn btn-primary" type="submit" value="Task list" /></a>
			<a href="{% url 'todo:project_list' %}"><input class="btn btn-primary" type="submit" value="Project list" /></a>
		</div>
	</div>
{% endblock %}
