
{% extends 'base.html' %}
{% load static %}

{% block title %}Simple todo{% endblock %}
{% block ccss %}<link rel="stylesheet" href="{% static '/base/main.css' %}" />{% endblock %}

{% block content %}
	<div class="main-body">
		<h1>Stop</br>thinking</br>and start</br>doing!</h1>

		<a href="{% url 'todo:add_task' %}"><div class="btn task-btn">
			Start a task
		</div></a>

		<a href="{% url 'todo:add_project' %}"><div class="btn prj-btn">
			Start a project
		</div></a>
	</div>
{% endblock %}
