.container {
  height: 0px;
}

.list-body {

	background-color: #77ACF1;
	margin-top: 120px;
	margin-right: 25%;
  margin-bottom: 190px;
	border-color: #e0f2ff;
	border-width: 5px;
	border-radius: 8px;
	border-style: solid;
	padding: 25px;
	box-shadow: 0 8px 10px grey;
}

.list-body .pencil-icon {

	font-size: 32px;
	color: #e0f2ff;
	margin-left: 46%;
}

.list-body h1 {

	color: white;
	font-weight: bold;
	margin-left: 43.5%;

}

.task-body {

	background-color: #adcdff;
	margin-top: 20px;
	border-color: #e0f2ff;
	border-width: 5px;
	border-radius: 8px;
	border-style: solid;
	padding: 25px;
  padding-top: 0px;
	box-shadow: 0 0px 0px grey;
}

.task-body:hover {

	box-shadow: 0 2px 10px grey;
  animation-name: project_body_animation;
  animation-duration: 0.5s;
}

@keyframes project_body_animation {
  from {box-shadow: 0 0 0px grey;}
	to {box-shadow: 0 2px 10px grey;}
}

.task-body h2 {
  color: #1d2ee0;
	font-weight: bold;
}

.task-body .task-description p {
  color: #606cdb;
  font-size: 24px;
  margin-left: 20px;
}

.task-doer {
  color: #214994;
  font-size: 16px;
}

.task-project {
  color: #2019a6;
  font-size: 16px;
}

.date-submit {
  color: #2d929c;
  font-size: 16px;
  width: 50%;
  display: inline-block;
}

.task-delete {

  width: 14%;
  display: inline-block;
  float: none;
}

.task-delete .btn {

	font-size: 20px;
}

.task-is-done {

  width: 14%;
  display: inline-block;
}

.task-is-done .btn {

	font-size: 20px;
}

.no-task h2 {
  color: white;
	margin-left: 41%;
}

.no-task a {
  color: white;
  padding: 12px;
  background-color: #3579b5;
  border-radius: 10px;
	margin-left: 42%;
  font-size: 24px;
}

.no-task a:hover {
  color: white;
  background-color: #0061b5;
  box-shadow: 0 0.5px 10px grey;
}

.no-task a:visited {
  color: white;
}


@media only screen and (max-width: 1200px) {

  .list-body {
    margin-left: 20%;
  }

	.list-body h1 {
		margin-left: 39%;
	}

	.list-body .pencil-icon {

		margin-left: 44%;
	}

  .task-delete {
    float: right;
    margin-right: 20%;
  }

  .no-task h2 {
  	margin-left: 33%;
  }

  .no-task a {
  	margin-left: 36%;
  }
}

@media only screen and (max-width: 550px) {

  .list-body {
    width: 100%;
    margin-left: 0%;
  }


	.list-body h1 {
		margin-left: 39%;
		font-size: 28px;
	}

	.list-body .pencil-icon {

		margin-left: 42%;
	}

  .no-task h2 {
  	margin-left: 29%;
  }

  .no-task a {
  	margin-left: 32%;
  }

  .task-delete {
    margin-right: 30%;
  }

  .date-submit {
    width: 100%;
    font-size: 14px;
  }
}
